button {

    /* button settings */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 190px;
    background: #FFFFFF;
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;

    /* text  settings */
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2982E2;    
}

.standard {
    /* standard button width*/
    height: 48px;
}

.big {
    /* big button width*/
    height: 122px;
}